{%extends 'partials/base.html'%}
{%load static%}

{%block content%}
<style>.bg-image  {
    background-image: url('{% static "user/assets/images/404.jpg" %}');
   
}</style>
 <br>
 <div class='container'>

     <div class="col-md-6">
 
         <div class=" container">
         <div class="form-box">
             <div class="form-tab">
                 {% if check %}
                 <h3>Add Address</h3>
                 <br>
                 <div class="tab-content">
                     <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
 
                         <form action="{% url 'add_address' check %}"  method="POST">
                             {% csrf_token %}
                             <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Enter first name"  name="firstname" value="{{pre_first_name}}">
                             </div><!-- End .form-group -->
                             <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Enter last name"   name="lastname" value="{{pre_last_name}}">
                             </div><!-- End .form-group -->
                             <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Enter email"  name="email" value="{{pre_email}}">
                             </div><!-- End .form-group -->
                             <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Enter address" name="address" value="{{pre_address}}" >
                             </div><!-- End .form-group -->
                             <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Enter country"  name="country" value="{{pre_country}}">
                             </div><!-- End .form-group -->
                             <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Enter city"  name="city" value="{{pre_city}}">
                             </div><!-- End .form-group -->
                             <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Enter state" name="state" value="{{pre_state}}" >
                             </div><!-- End .form-group -->
                             <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Enter pincode"  name="pincode" value="{{pre_pincode}}">
                             </div><!-- End .form-group -->
                             <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Enter phone number" name="phone" value="{{pre_phone}}">
                             </div><!-- End .form-group -->
 
                             <textarea class="form-control" cols="30" rows="4"
                             placeholder="Notes about your order, e.g. special notes for delivery" name="order_note"></textarea>
                             <br>
 
                             <div class="form-group">
                                 <button type="submit" class="btn btn-primary btn-block"> Add Address </button>
                             </div> <!-- form-group// -->
 
                     </div><!-- End .form-footer -->
                     </form>
                     <div class="form-choice">
                     
                     </div><!-- End .row -->
                 </div><!-- End .form-choice -->
             </div><!-- .End .tab-pane -->
         </div><!-- End .tab-content -->
     </div><!-- End .form-tab -->
  
 </div><!-- End .form-box -->
 </div><!-- End .container -->
 </div><!-- End .login-page section-bg -->
 </div>
 </main><!-- End .main -->
 </div><!-- End .page-wrapper -->
 </div>
{%endif%}

{%endblock content%}