{% extends "partials/base.html" %}
{% load static %}

{% block content %}

<main class="main">
    <div class="page-header mt-30 mb-75">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        <h1 class="mb-15">{{category.categories}}</h1>
                        <div class="breadcrumb">
                            <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                            <span>{{category.categories}}</span> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="page-content mb-50">
        <div class="container">
            <div class="row">
                {%for i in products%}
                  </div> <!-- Close the previous row -->
                  <div class="row"> <!-- Start a new row -->
              
                <div class="col-md-6">
                  <div class="shop-product-fillter mb-50">
                    <div class="totall-product">
                      <a href="">

                          <h5>
                              <img class="w-36px mr-10" src="" alt="" />
                              {{i.product_name}}
                              
                          </h5>
                      </a>
                    </div>
                  </div>
                </div>
                {%endfor%}
              
            </div>
        </div>
    </div>
</main>
{% endblock content %}