{% extends "partials/base.html" %}
{% load static %}

{% block content %}
<main class="main">
    <div class="page-header mt-30 mb-75">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        {%if variant_images%}
                        <h4 class="mb-15">Search results for: {{query}}</h4>
                        {%else%}
                        <h4 class="mb-15">No Results found!</h4>
                        {%endif%}
                        <div class="breadcrumb">
                            <a href="" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                            <span>Search Results for {{query}}</span> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="page-content mb-50">
        <div class="container mb-30">
            
            <div class="col-lg-4-5">
                {%if variant_images%}
                    {% for c in variant_images%}
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="product-cart-wrap mb-30">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="{% url 'product_show' c.variant.product.id c.variant.id %}">
                                        <img class="default-img" src="{{c.image.url}}" alt="" />
                                        <img class="hover-img" src="{{c.image.url}}" alt="" />
                                    </a>
                                </div>
                                {% comment %} <div class="product-action-1">
                                    <a aria-label="Add To Wishlist" class="action-btn" href="{%url 'add_wish_list'%}" data-product_id="{{c.variant.id}}"><i class="fi-rs-heart"></i></a>
                                    <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                    <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                </div> {% endcomment %}
                                <div class="product-action">
                                    <input type="hidden"  value="{{ c.variant.size.id }}" id="size-input" >
                                    
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">Hot</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    <a href="shop-grid-right.html">Clothing</a>
                                </div>
                                <h2><a href="#">{{c.variant.product.product_name}}</a></h2>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                
                                <div class="product-card-bottom">
                                    <div class="product-price">
                                        <span>₹{{c.variant.product.product_price}}</span>
                                        <span class="old-price">₹3288</span>
                                    </div>
                                    <div class="add-cart">
                                        <a class="add"  data-product_id="{{ c.variant.id }}" href=""><i class="fi-rs-shopping-cart mr-5"></i>View </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                {%endif%}
        
            
            </div>
        </div>
    </div>
    <div class="page-content mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop-product-fillter mb-50">
                        <div class="totall-product">
                            <h2>
                                <img class="w-36px mr-10" src="{% static 'assets/imgs/theme/icons/category-1.svg' %}" alt="" />
                                Articles
                            </h2>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Show:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">50</a></li>
                                        <li><a href="#">100</a></li>
                                        <li><a href="#">150</a></li>
                                        <li><a href="#">200</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span>Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">Featured</a></li>
                                        <li><a href="#">Newest</a></li>
                                        <li><a href="#">Most comments</a></li>
                                        <li><a href="#">Release Date</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loop-grid">
                        <div class="row">
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-1.png' %}" alt="" />
                                    </a>
                                    <div class="entry-meta">
                                        <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-heart"></i></a>
                                    </div>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Side Dish</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">The Intermediate Guide to Healthy Food</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-2.png' %}" alt="" />
                                    </a>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Soups and Stews</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">Summer Quinoa Salad Jars with Lemon Dill</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-3.png' %}" alt="" />
                                    </a>
                                    <div class="entry-meta">
                                        <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-link"></i></a>
                                    </div>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Salad</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">Caprese Chicken with Smashed Potatoes</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-4.png' %}" alt="" />
                                    </a>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Dessert</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">Harissa Chickpeas with Whipped Feta</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-5.png' %}" alt="" />
                                    </a>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Breakfast</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">Almond Butter Chocolate Chip Zucchini Bars</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-6.png' %}" alt="" />
                                    </a>
                                    <div class="entry-meta">
                                        <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-picture"></i></a>
                                    </div>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Vegan</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">Smoky Beans & Greens Tacos with Aji Verde</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-1.png' %}" alt="" />
                                    </a>
                                    <div class="entry-meta">
                                        <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-heart"></i></a>
                                    </div>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Side Dish</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">The Intermediate Guide to Healthy Food</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-7.png' %}" alt="" />
                                    </a>
                                    <div class="entry-meta">
                                        <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-play-alt"></i></a>
                                    </div>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Gluten Free</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">Sticky Ginger Rice Bowls with Pickled Veg</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-8.png' %}" alt="" />
                                    </a>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Side Dish</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">Creamy Garlic Sun-Dried Tomato Pasta</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-9.png' %}" alt="" />
                                    </a>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Dairy Free</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">The Absolute Easiest Spinach and Pizza</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-10.png' %}" alt="" />
                                    </a>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Salad</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">Sticky Ginger Rice Bowls with Pickled</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-1.png' %}" alt="" />
                                    </a>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Soups</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">The Best Soft Chocolate Chip Cookies</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-12.png' %}" alt="" />
                                    </a>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Vegetarian</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">Baked Mozzarella Chicken Rolls</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-13.png' %}" alt="" />
                                    </a>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html"> Dessert </a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">The Best Avocado Egg Salad</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-14.png' %}" alt="" />
                                    </a>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Vegetarian</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">The litigants on the screen are not actors</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-xl-3 col-lg-4 col-md-6 text-center hover-up mb-30 animated">
                                <div class="post-thumb">
                                    <a href="blog-post-right.html">
                                        <img class="border-radius-15" src="{% static 'assets/imgs/blog/blog-15.png' %}" alt="" />
                                    </a>
                                </div>
                                <div class="entry-content-2">
                                    <h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Vegetarian</a></h6>
                                    <h4 class="post-title mb-15">
                                        <a href="blog-post-right.html">The litigants on the screen are not actors</a>
                                    </h4>
                                    <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                        <div>
                                            <span class="post-on mr-10">25 April 2022</span>
                                            <span class="hit-count has-dot mr-10">126k Views</span>
                                            <span class="hit-count has-dot">4 mins read</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fi-rs-arrow-small-left"></i></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fi-rs-arrow-small-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
