{% extends "partials/base1.html" %}

{% load static %}

{% block content %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupons</h2>
            <p>List of coupons for users </p>
        </div>
        <div>
            <a href="#" data-bs-toggle="modal" data-bs-target="#addCategory">
                <button type="submit" class="btn btn-primary"><i class="ti ti-plus"></i> Add Coupon</button>

            </a>
        </div>
    </div>
    <div class="card mb-4">
        
        
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            
                            <th>#ID</th>
                            <th>Coupon name</th>
                            <th>Coupon code</th>
                            <th>Discount</th>
                            <th>Min purchase</th>
                            <th>Valid from</th>
                            <th>Valid till</th>
                            <th>Status</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for coupon in coupons%}
                        <tr>
                           
                            <td>{{forloop.counter}}</td>
                            <td><b>{{coupon.coupon_name}}</b></td>
                            <td>{{coupon.coupon_code}}</td>
                            <td>{{coupon.min_price}}</td>
                            <td>{{coupon.coupon_discount_amount}}</td>
                            <td>{{coupon.start_date}}</td>
                            <td>{{coupon.end_date}}</td>
                            <td> {% if coupon.is_coupon_expired %}<span class="badge rounded-pill alert-warning">Expired</span>{% else %}<span class="badge rounded-pill alert-success">Active</span>{% endif %} </td>
                            <td class="text-end">
                                <button type="button" class="btn btn spacer c"
                                    style="background-color: rgb(246, 250, 10); color:rgb(102, 94, 94)"
                                    data-bs-toggle="modal" data-bs-target="#confirmEdit{{forloop.counter}}"><i
                                        class="ti ti-edit"></i>
                                    Edit
                                </button>

                                <!-- Edit Modal -->
                                

                                <a href="{%url 'delete_coupon' coupon.id%}" class="btn btn-danger">Delete</a>
                                
                                
                                <!-- dropdown //end -->
                            </td>
                        </tr>
                        {%endfor%}

                        
                    </tbody>
                </table>
            </div>
            <!-- table-responsive//end -->
        </div>
        <!-- card-body end// -->
    </div>
    
    
</section>
<div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Coupon</h1>
                <br>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="{% url 'add_coupon'%}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div style="width: 100px;" class="">
                </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3cg">Coupon name</label>
                        <input name="coupon_name" value="{{coupon.coupon_name}}" type="text" id="form3Example3cg"
                          class="form-control form-control-lg" required />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3cg">Coupon code</label>
                        <input name="coupon_code" value="{{coupon.coupon_code}}" type="text" id="form3Example3cg"
                          class="form-control form-control-lg" required />
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3cg">Minimum purchase price</label>
                        <input name="minimum_price" type="number" value="{{coupon.min_price}}" type="text" id="form3Example3cg"
                          class="form-control form-control-lg" required />
                    </div>

                      <div class="form-outline mb-4">
                          <label class="form-label" for="form3Example3cg">Coupon Discount amount</label>
                        <input name="coupon_discount_amount" value="{{coupon.coupon_discount_amount}}" type="number" id="form3Example3cg"
                          class="form-control form-control-lg" required />
                      </div>
                      <div class="form-outline mb-4">
                          <label class="form-label" for="form3Example3cg">Start date</label>
                        <input type="date" id="start-date" name="start_date" value="{{coupon.start_date}}"
                          id="form3Example3cg" class="form-control form-control-lg" required>
                      </div>
                      <div class="form-outline mb-4">
                          <label class="form-label" for="form3Example3cg">End date</label>
                        <input type="date" id="end-date" name="end_date" value="{{coupon.end_date}}" id="form3Example3cg"
                          class="form-control form-control-lg" required>
                      </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary"
                            type="submit">Save </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% for c in coupons  %}


<div class="modal fade" id="confirmEdit{{forloop.counter}}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="exampleModalLabel">Edit coupon</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'edit_coupon' c.id %}"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Coupon name</label>
                    <input name="coupon_name" value="{{c.coupon_name}}" type="text" id="form3Example3cg"
                        class="form-control form-control-lg" required />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Coupon code</label>
                    <input name="coupon_code" value="{{c.coupon_code}}" type="text" id="form3Example3cg"
                        class="form-control form-control-lg" required />
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Minimum purchase price</label>
                    <input name="minimum_price" type="number" value="{{c.min_price}}" type="text" id="form3Example3cg"
                        class="form-control form-control-lg" required />
                </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3cg">Coupon Discount amount</label>
                    <input name="coupon_discount_amount" value="{{c.coupon_discount_amount}}" type="number" id="form3Example3cg"
                        class="form-control form-control-lg" required />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3cg">Start date</label>
                    <input type="date" id="start-date" name="start_date" value="{{ c.start_date|date:'Y-m-d' }}"
                        id="form3Example3cg" class="form-control form-control-lg" required>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3cg">End date</label>
                    <input type="date" id="end-date" name="end_date" value="{{ c.end_date|date:'Y-m-d' }}" id="form3Example3cg"
                        class="form-control form-control-lg" required>
                    </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light"
                        type="submit">Save </button>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endfor %}
<script>
    function openModal(counter) {
        var modal = document.getElementById('confirmEdit' + counter);
        modal.style.display = 'block';
    }

    function closeModal(counter) {
        var modal = document.getElementById('confirmEdit' + counter);
        modal.style.display = 'none';
    }

    // Close the modal when the user clicks outside of it
    window.onclick = function (event) {
        if (event.target.className === 'modal') {
            event.target.style.display = 'none';
        }
    }
</script>





{% endblock content %}