{% extends "partials/base1.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID: {{orderview}}</p>
        </div>
    </div>
    <div class="card">
       
        <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                               First Name : {{orderview.user.first_name}} <br />
                               Last Name : {{orderview.user.last_name}} <br />
                               Email : {{orderview.user.email}}<br />
                                Mob no : {{orderview.user.phone_number}}
                            </p>
                           
                        </div>
                    </article>
                </div>
                <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h5 class="mb-1">Order info</h5>
                            <p class="mb-1">
                                Shipping : Fargo express <br>
                                Order id : {{orderview.id}} <br>
                                
                                Total price : ₹{{orderview.total_price}} <br>
                                Pay method : {{orderview.payment_mode}} <br>
                                Pay Id :  {{orderview.payment_id}} <br>
                                Order date :  {{orderview.created_at}} <br>
                                Order status:  {{orderview.order_status}} <br>
                                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                    {% if i.orderitem_status.item_status == 'Pending' %}
                                    <span class="badge rounded-pill alert-secondary status-badge">
                                        {{ i.orderitem_status.item_status }}</span>
                                    {% elif i.orderitem_status.item_status == 'Processing' %}
                                    <span class="badge rounded-pill alert-warning status-badge">
                                        {{ i.orderitem_status.item_status }}</span>
                                    {% elif i.orderitem_status.item_status == 'Shipped' %}
                                    <span class="badge rounded-pill alert-primary status-badge">
                                        {{ i.orderitem_status.item_status }}</span>
                                    {% elif i.orderitem_status.item_status == 'Delivered' %}
                                    <span class="badge rounded-pill alert-success status-badge">
                                        {{ i.orderitem_status.item_status }}</span>
                                    {% elif i.orderitem_status.item_status == 'Cancelled' or i.orderitem_status.item_status == 'Return' %}
                                    <span class="badge rounded-pill alert-danger status-badge">
                                        {{i.orderitem_status.item_status }}</span>
                                    {% endif %}
                                </div>
                                
                            </p>
                            
                        </div>
                    </article>
                </div>
                <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                {{address.address}} <br>{{address.city}}<br>
                               {{address.state}}<br>{{address.country}}<br>
                               {{address.pincode}}
                            </p>
                           
                        </div>
                    </article>
                </div>
               
                
                {% if orderview.payment_mode == 'wallet' or orderview.payment_mode == 'razorpay' %}
                <div>
                    <br>
                    <h5 class='text-brand'>Rs {{orderview.total_price}} from {{orderview.user.first_name}} via {{orderview.payment_mode}} payment mode and is credited to XXXX-XXXX-XXXX-4567 </h5>
                    
                  
                    {% comment %} <a href="" class=" btn btn-brand ">verify</a> {% endcomment %}
                    
                   


                </div>
                {% endif %}
                <!-- col// -->
            </div>
            <!-- row // -->
            <div class="row">
                <div class="">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="20%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="10%">Quantity</th>
                                    <th width="20%">Total</th>
                                    <th width="10%">Status</th>
                                    <th width="20%" class="text-end">Change status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for j in products%}
                                <tr>
                                    <td>
                                        <a class="itemside" href="#">
                                            {%for i in image%} 
                                            {%if i.variant.id == j.variant.id%}
                                            <div class="left">
                                                <img src="{{i.image.url }}" width="40" height="40" class="img-xs" alt="Item" />
                                            </div>
                                            {%endif%}
                                            {%endfor%}
                                            <div class="info">{{i.variant.product.product_name}}</div>
                                        </a>
                                    </td>
                                    <td>₹{{j.variant.product.product_price}}</td>
                                    <td>{{j.quantity}}</td>
                                    <td >₹{{j.variant.product.product_price | mul:j.quantity}}
                                    </td>
                                    <td>{% if j.orderitem_status.item_status == 'Pending' %}
                                        <span class="badge rounded-pill alert-secondary status-badge">
                                            {{ j.orderitem_status.item_status }}</span>
                                        {% elif j.orderitem_status.item_status == 'Processing' %}
                                        <span class="badge rounded-pill alert-warning status-badge">
                                            {{ j.orderitem_status.item_status }}</span>
                                        {% elif j.orderitem_status.item_status == 'Shipped' %}
                                        <span class="badge rounded-pill alert-primary status-badge">
                                            {{ j.orderitem_status.item_status }}</span>
                                        {% elif j.orderitem_status.item_status == 'Delivered' %}
                                        <span class="badge rounded-pill alert-success status-badge">
                                            {{ j.orderitem_status.item_status }}</span>
                                        {% elif j.orderitem_status.item_status == 'Cancelled' or i.orderitem_status.item_status == 'Return' %}
                                        <span class="badge rounded-pill alert-danger status-badge">
                                            {{j.orderitem_status.item_status }}</span>
                                        {% endif %}</td>
                                    <td class="text-end"><form class="status-form" action="{% url 'change_status' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ j.variant.id }}" name="variant_id">
                                        <input type="hidden" value="{{ j.id }}" name="orderitem_id">
                                        <div class="col-lg-11 col-11 col-md-10">
                                           
                                            <select class="form-select status-select" id='select' name="status">
                                                {% for item in item_status_o %}
                                                <option value="{{ item.id }}" {% if item.id == j.orderitem_status.id %}selected{% endif %}>
                                                    {{ item.item_status }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </form></td>
                                </tr>
                                {%endfor%}
                                
                                <tr>
                                    <td colspan="4">
                                        <article class="float-end">
                                            <dl class="dlist">
                                                <dt>Subtotal:</dt>
                                                <dd>₹{{orderview.total_price}}</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Shipping cost:</dt>
                                                <dd>free</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd><b class="h5">₹{{orderview.total_price}}</b></dd>
                                            </dl>
                                            {% comment %} <dl class="dlist">
                                                <dt class="text-muted">Status:</dt>
                                                <dd>
                                                    <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                </dd>
                                            </dl> {% endcomment %}
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- table-responsive// -->
                </div>
                <!-- col// -->
                
            </div>
        </div>
        <!-- card-body end// -->
    </div>
    <script>
        // JavaScript to automatically submit the form when the select value changes for each row
        const statusForms = document.querySelectorAll('.status-form');
        statusForms.forEach((form) => {
            const selectElement = form.querySelector('.status-select');
            selectElement.addEventListener('change', () => {
                form.submit();
            });
        });
    </script>
    <!-- card end// -->
</section>

{% endblock content %}