{%extends 'partials/base1.html'%}
{% load static%}

{% block content %}

    
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List</h2>
            <p>Order list of users of Nest</p>
        </div>
        <form class="searchform" action="{% url 'order_search' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input list="search_terms" type="text" name='search' class="form-control" placeholder="Search term" />
                <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
            </div>
            
        </form>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <form action="{% url 'order_search' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" placeholder="Search..." name="search" class="form-control" />
                            <button type="submit" class="btn btn-primary"><i class="ti ti-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <form id="user-status-formm" method="post" action="{% url 'order_payment_sort' %}">
                      {% csrf_token %}
                      <div class="col-lg-2 col-6 col-md-3">
                          <select class="form-select" name="name" id="status-selectt" style="width: 100px;">
                              <option value="">Sort</option>
                              <option value="cod">cod</option>
                              <option value="razorpay">razorpay</option>
                              <option value="All">All</option>
                          </select>
                      </div>
                      <input type="hidden" name="auto_submit" value="true">
                  </form>
                </div>
             
                <div class="col-lg-2 col-6 col-md-3">
                    <form id="user-status-form" method="post" action="{% url 'order_status_show' %}">
                      {% csrf_token %}
                      <div class="col-lg-2 col-6 col-md-3">
                          <select class="form-select" name="name" id="status-select" style="width: 130px;">
                              <option value="">Status</option>
                              <option value="Pending">Pending</option>
                              <option value="Processing">Processing</option>
                              <option value="Shipped">Shipped</option>
                              <option value="Delivered">Delivered</option>
                              <option value="Cancelled">Cancelled</option>
                              <option value="Return">Return</option>
                              <option value="All">All</option>
                          </select>
                      </div>
                      <input type="hidden" name="auto_submit" value="true">
                  </form>
                </div>
            </div>
        </header>
        
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Order date</th>
                            <th scope="col" class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for order in orders%}
                        <tr>
                            <td>{{order.id}}</td>
                            <td><b>{{order.user.first_name}}</b></td>
                            <td>{{order.user.email}}</td>
                            <td>₹{{order.total_price}}</td>
                            <td> 
                                {% if i.order_status.order_status == 'Pending' %}
                                <span class="badge rounded-pill alert-secondary"  >{{ i.order_status.order_status }}</span>
                                {% elif i.order_status.order_status == 'Processing' %}
                                <span class="badge rounded-pill alert-warning">{{ i.order_status.order_status }}</span>
                                {% elif i.order_status.order_status == 'Shipped' %}
                                <span class="badge rounded-pill alert-primary">{{ i.order_status.order_status }}</span>
                                {% elif i.order_status.order_status == 'Delivered' %}
                                <span class="badge rounded-pill alert-success">{{ i.order_status.order_status }}</span>
                                {% elif i.order_status.order_status == 'Cancelled' or i.order_status.order_status == 'Return' %}
                                <span class="badge rounded-pill alert-danger">{{ i.order_status.order_status }}</span>
                                {% endif %}
                            </td>
                            <td>{{order.created_at}}</td>
                            <td class="text-end">
                                <a href="{%url 'order_view' order.id %}" class="btn btn-md rounded font-sm">View</a>
                                
                                <!-- dropdown //end -->
                            </td>
                        </tr>
                        {%endfor%}
                        
                    </tbody>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const statusSelect = document.getElementById('status-select');
        
        statusSelect.addEventListener('change', function () {
            document.getElementById('user-status-form').submit();
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const statusSelect = document.getElementById('status-selectt');
        
        statusSelect.addEventListener('change', function () {
            document.getElementById('user-status-formm').submit();
        });
    });
</script>
   

<script src="{% static 'assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/select2.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'assets/js/main.js?v=1.1' %}" type="text/javascript"></script>

{% endblock content %}

