{%extends 'partials/base1.html'%}
{%load  static%}

{%block content%}

<section class="content-main">
    
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">User Management</h2>
            
        </div>
        
    </div>
    
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <div class="input-group">
                        <div class="form-outline">
                            <form action="{%url 'user_sort'%}" method="POST">
                            {% csrf_token %}
                                <div>

                                    <input type="search" placeholder="Search..." id="form1" name="search" class="form-control" />
                                    
                                    <button type="submit" class="btn btn-primary" style="postion:absolute; left:190px;bottom:40px; height:40px;">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            </form>
                      </div>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <form id="user-status-form" method="post" action="{%url 'user_block_status'%}">
                        {% csrf_token %}
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select" name="name" id="status-select" style="width: 130px;">
                                <option value="">Status</option>
                                <option value="Blocked">Blocked</option>
                                <option value="Active">Active</option>
                                <option value="All">All</option>
                            </select>
                        </div>
                        <input type="hidden" name="auto_submit" value="true">
                    </form>
                </div>
               
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class='text-uppercase'>
                            <th scope="col">id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-end">Action</th>
                          </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr class="text-uppercase">
                            <td style="text-align: center;">{{ user.id }}</td>
                            <td><b>{{ user.first_name }}</td>
                            <td><b>{{ user.username }}</td>
                            <td><b>{{ user.email }}</td>

                            <td>
                            {% if user.is_active %}
                            <span class="badge rounded-pill alert-success">Active</span>
                            {% else %}
                            <span class="badge rounded-pill alert-warning">Deactive</span>
                            {% endif %}
                            </td>
                        
                            <td class="text-end">
                                {% if user.is_active %}
                                <a href="#" class="btn btn-md rounded font-sm bg-danger" onclick="openModal('confirmationModal{{ user.id }}', 'Confirmation Block user', 'Block')">Block</a>
                                {% else %}
                                <a href="#" class="btn btn-md rounded font-sm" onclick="openModal('confirmationModal{{ user.id }}', 'Confirmation Unblock user', 'Unblock')">Unblock</a>
                                {% endif %}
                            </td>
                        </tr>
                            {% endfor %}
                            
                            
                            
                       
                    </tbody>
                </table>
                {% for user in users %}
                <div id="confirmationModal{{ user.id }}" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                           
                            <h4>Confirmation Block user</h4>
                        </div>
                        <div class="modal-body">
                            <h6 style="color: red">Are you sure Block this user?</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="closeModal('confirmationModal{{ user.id }}')">Cancel</button>
                            <a href="{% url 'blockuser' user.id %}">
                                <button type="button" class="btn btn-primary">Confirm</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <script>
                    // Function to open the modal
                    function openModal(modalId, modalTitle, buttonLabel) {
                        var modal = document.getElementById(modalId);
                        var modalHeader = modal.querySelector(".modal-header");
                        var modalBody = modal.querySelector(".modal-body");
                        modalHeader.querySelector("h4").textContent = modalTitle;
                        modalBody.querySelector("h6").textContent = `Are you sure ${buttonLabel} this user?`;
                        
                        modal.style.display = 'block';
                    }
                
                    // Function to close the modal
                    function closeModal(modalId) {
                        var modal = document.getElementById(modalId);
                        modal.style.display = 'none';
                    }
                </script>
            </div>
            <!-- table-responsive//end -->
        </div>
        <!-- card-body end// -->
    </div>
    
</section>
{%endblock content%}
           
            
