{%extends 'partials/base.html'%}
{%load static%}

{% block content %}

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{%url 'index'%}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Shop <span></span> Wishlist
            </div>
        </div>
    </div>
    <div class="container mb-30 mt-50">
        <div class="row">
            <div class="col-xl-10 col-lg-12 m-auto">
                <div class="mb-50">
                    <h1 class="heading-2 mb-10">Your Wishlist</h1>
                    
                </div>
                <div class="table-responsive shopping-summery">
                    <table class="table table-wishlist">
                        <thead>
                            <tr class="main-heading">
                                <th scope="col"></th>
                                <th scope="col">No</th>
                                <th scope="col">product image</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Size</th>
                                <th scope="col">Status</th>
                                <th scope="col">Add to Cart</th>
                                <th scope="col">Remove</th>
                                
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in wishlist  %}
                            
                            <tr class="pt-30">
                                <th scope="row">1</th>
                                <td class="custome-checkbox pl-30">
                                    
                                </td>

                                <td class="image product-thumbnail pt-40">
                                    
                                    <a href="{%url 'product_show' i.variant.product.id i.variant.id%}">
                                        {% for j in img %}
                                        {% if j.variant.id == i.variant.id %}
                                        <img src="{{ j.image.url }}" alt="Variant Image">
                                        {% endif %}
                                        {% endfor %}
                                    </a>
                                    </a>    
                                </td>
                                <td class="price" data-title="Price">
                                    <h4><a href="{% url 'product_show' i.variant.product.id i.variant.id %}"><strong>{{i.variant.product.product_name}}</strong></a></h4>
                                </td>
                                <td class="price" data-title="Price">
                                    <h3 class="text-brand">₹{{i.variant.product.product_price}}</h3>
                                </td>
                                <td class="price" data-title="Size">
                                    <h5 class="">{{i.variant.size.size_range}}</h5>
                                </td>
                                {% if i.variant.quantity == 0  %}
								<td class="text-center detail-info" data-title="Status">
                                    <span class="stock-status in-stock mb-0"> Out of Stock </span>
                                </td>
								{% else %}
								<td class="text-center detail-info" data-title="Status">
                                    <span class="stock-status in-stock mb-0"> In Stock </span>
                                </td>
								{% endif %}
                                
                                <td class="text-right" data-title="Cart">
                                    <input readonly class="mtext-104 cl3 txt-center num-product" type="hidden"
									name="num-product" value="1" id="qty-input">
									<button class="btn btn-block btn-outline-primary-2" data-product_id="{{ i.variant.id }}" data-size-id="{{ i.variant.size.id }}">
										<i class="icon-cart-plus"></i>Add 									</button>
                                </td>
                                <td class="action text-center" data-title="Remove">
                                    <a href="{% url 'remove_wish_list' i.id %}"><button type="button" class="btn-close" aria-label="Close"></button>
                                    </a>
                                </td>
                            </tr>
                            
                            {% endfor %}
                            
                            
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $('.btn-outline-primary-2').click(function (e) {
        e.preventDefault();

        var product_id = $(this).data('product_id');
        var add_qty = $('#qty-input').val();
        var add_size = $(this).data('size-id');

      
        console.log(product_id, add_qty,add_size, 'yyyyyyyyyyyyyyyyyyyyyyy1')
        $.ajax({
            method: "POST",
            url: "{% url 'add_cart' %}",
            data: {

                'variant_id': product_id,
                'add_size':add_size,
                'add_qty': add_qty,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (response) {

                console.log(response);

                if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in cart' ) {
                    swal.fire("Error!", response.status, "error");
                    $('.cartdata').load(location.href + " .cartdata");
                } else if (response.status === 'Product added successfully') { 
                    swal.fire("", response.status, "success");
                    $('.cartdata').load(location.href + " .cartdata");
                } else if (response.status === 'you are not login please Login to continue') {
                    swal.fire("", response.status, "warning");
                    $('.cartdata').load(location.href + " .cartdata");
                } 
                else if (response.status === 'Sorry! this variant not available') {
                    swal.fire("", response.status, "warning");
                    $('.cartdata').load(location.href + " .cartdata");
                } 
                else {
                    swal("Error!", response.status, "error");
                    $('.cartdata').load(location.href + " .cartdata");
                }
            }
        });
    });
</script>

<script src="https://unpkg.com/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
{% endblock content %}


