{% extends "partials/base.html" %}
{% load static %}
{%load mathfilters%}

{% block content %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{%url 'index'%}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Shop
                <span></span> Checkout
            </div>
        </div>
    </div>
    <br>
    <div>

        <a href="{% url 'index'%}"
                                class="btn btn-outline-primary-2"><span>Continue shopping</span><i class="icon-long-arrow-right"></i></a>
    </div>
    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10">Checkout</h1>
                <div class="d-flex justify-content-between">
                    <h6 class="text-body">There are 
                        {%if cart_count%}
                        <span class="text-brand">{{cart_count}}</span> 
                        {%else%}
                        <span class="text-brand">No</span>
                        {%endif%}
                        products in your cart</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="row mb-50">
                    
                    <div class="col-lg-6">
                        <form method="post" class="apply-coupon" action="{% url 'checkout' %}">
                            {% csrf_token %}
                            <input type="text" id="coupon-code" class="form-control"  name="coupon"  placeholder="Enter Coupon Code...">
                            <button class="btn  btn-md" type="submit" name="login">Apply </button>
                        </form>
                    </div>
                </div>
                
                <div class="col-lg-5">               
                    <h4 class="summary-title text-brand">Available Coupon</h4><!-- End .summary-title -->
                    <br>
                    <table class="table table-summary ">
                        <thead class="text-light bg-secondary">
                            <th>Coupon name</th>
                            <th >Coupon code</th>
                            <th>Min purchase</th>
                        </thead>
                        <tbody>
                            {% for c in coupon_checkout %}
                            {% if c.is_coupon_expired %}
                            {% else %}
                            <tr>
                                <td>{{ c.coupon_name }}</td>
                                <td class='text-brand'><strong>{{ c.coupon_code }}</strong></td>
                                <td>{{ c.min_price }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                                
                </div>
                <br>
                <div class="row">
                    <h4 class="mb-30">Billing Details</h4>
                    <div  >
                        
                        <p>The following addresses will be used on the checkout page by default.</p>
                        <a href="{% url 'add_address' 2 %}"
                            class="btn btn-outline-primary-2"><span>Add
                                address</span><i class="icon-long-arrow-right"></i></a>
                    </div>
                    <form action="{% url 'placeorder' %}" method="POST" id="orderform">
                        {% csrf_token %}
                        {% for i in address %}
                        <div class="col-lg-6">
                            <br>
                            <div class="card card-dashboard">
                                <div class="card-body">
                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="d">
                                                <div class="form-check">
                                                    <input type="radio" value="{{i.id}}" id="free-shipping{{ forloop.counter }}"
                                                           name="address" class="form-check-input">
                                                    <label class="form-check-label"
                                                           for="free-shipping{{ forloop.counter }}">
                                                          <h6> Select Address {{forloop.counter}}</h6>
                                                    </label>
                                                </div>
                                            </div>
                                    </tr>
                                   
                                   
                                    <!-- End .card-title -->
                                    <br>
                                   
                                </div><!-- End .card-body -->
                                
                            </div>
                            <div class="card text-center" >
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <td><strong>First Name</strong></td>
                                            <td>{{i.first_name}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Last Name</strong></td>
                                            <td>{{i.last_name}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Phone Number</strong></td>
                                            <td>{{i.phone}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Email</strong></td>
                                            <td>{{i.email}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Address</strong></td>
                                            <td>'{{i.address}}', 
                                                <br>
                                                {{i.city}}, 
                                                {{i.state}}, 
                                                {{i.country}}, 
                                                {{i.pincode}}</td>
                                            
                                        </tr>
                                    </table>
                                    
                                  
                                </div>
                            </div><!-- End .card-dashboard -->
                        </div><!-- End .col-lg-6 -->
        
        
                        {% endfor %}
                    </form>
                </div>
            </div>
            
           
            <div class="col-lg-5">
                <div class="border p-40 cart-totals ml-30 mb-50">
                    <div class="d-flex align-items-end justify-content-between mb-30">
                        <h4>Your Order</h4>
                        {% if coupon %}   
                            <h4 class="text-muted" name='subtotal'>Subtotal:<span class='text-brand'>₹{{grand_total|sub:coupon}}<span></h4>       
                        {% else %}      
                            <h4 class="text-muted" name='subtotal'>Subtotal:<span class='text-brand'>₹{{grand_total}}<span></h4>
                        {% endif %}
                    </div>
                    <div class="divider-2 mb-30"></div>
                    <div class="table-responsive order_table checkout">
                        <table class="table no-border">
                            <tbody>
                                {%for i in cartitems%}
                                <tr>
                                    
                                    <td>
                                        <h6 class="w-160 mb-5"><a href="shop-product-full.html" class="text-heading">{{i.variant.product.product_name}}</a></h6></span>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:90%">
                                                </div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                    </td>
                                    <td>
                                        <h6 class="text-muted pl-20 pr-20">X {{i.product_qty}}</h6>
                                    </td>
                                    <td>
                                        {% comment %} <h4 class="text-secondary"><del>₹ {{i.variant.product.product_price|mul:i.product_qty}}</del></h4> {% endcomment %}
                                        <h4 class="text-brand">₹ {{i.variant.product.product_price|mul:i.product_qty}}</h4>
                                    </td>
                                </tr>
                               {%endfor%}
                               <tr class="summary-subtotal">
                                {% if coupon and offer %}
                                <tr>
                                    <td><h6>Total:</h6></td>
                                    <td><h6>₹{{total_price|add:all_offer}}</h6></td>
                                </tr>
                                <tr> 
                                    <td><h6>offer applied:</h6></td>
                                    <input type="hidden" name="" value="">
                                    <td><h6>₹{{all_offer}}</h6></td>
                                </tr>
                                <tr>
                                    <td><h6>Subtotal:</h6></td>
                                    <td><h6>₹{{total_price}}</h6></td>
                                </tr>
                               
                                <tr> 
                                 <td><h6>coupon applied:</h6></td>
                                    <input type="hidden" name="couponcheck" value="{{coupon}}">
                                    <td><h6>₹{{coupon}}</h6></td>
                                </tr>



                                {% else %}
                                    {% if coupon %}
                                <tr>
                                    <td><h6>Subtotal:</h6></td>
                                    <td><h6>₹{{total_price}}</h6></td>
                                </tr>
                                <tr> 
                                    <td><h6>coupon applied:</h6></td>
                                    <input type="hidden" name="couponcheck" value="{{coupon}}">
                                    <td><h6>₹{{coupon}}</h6></td>
                                </tr>
                                    {% else %}
                                    <input type="hidden" name="couponcheck" value="{{0}}">
                                    {% endif %}
                                    {% if offer %}
                                    <tr>
                                        <td><h6>Subtotal:</h6></td>
                                        <td><h6>₹{{total_price|add:all_offer}}</h6></td>
                                    </tr>
                                    <tr> 
                                        <td><h6>offer applied:</h6></td>
                                        <input type="hidden" name="" value="">
                                        <td><h6>₹{{ all_offer }}</h6></td>
                                    </tr>
                                    {% else %}
                                    <input type="hidden" name="" value="">
                                    {% endif %}
                                    {% endif %}
                                    {% if not offer and not coupon %}
                                    <tr>
                                        <td><h6>Subtotal:</h6></td>
                                        <td><h6>₹{{total_price}}</h6></td>
                                    </tr>
                                    {% endif %}
                            </tr><!-- End .summary-subtotal -->
                            <tr>
                                <td><h6>Shipping:</h6></td>
                                <td><h6>Free shipping</h6></td>
                            </tr>
                            <tr class="summary-total">
                                {% if coupon %}
                                <td><h5>Total:</h5></td>
                                <td><h5>₹{{ grand_total|sub:coupon }}</h5></td>
                                {% else %}
                                <td><h5>Total:</h5></td>
                                <td><h5>₹{{grand_total}}</h5></td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="payment ml-30">
                    <h4 class="mb-30">Payment</h4>
                    <div class="card">
                        <div class="card-header" id="heading-3">
                            <h6 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3"
                                   aria-expanded="false" aria-controls="collapse-3" data-payment-method="cod">
                                   Cash on Delivery
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-header" id="payment" data-payment-method="razorpay">
                            <h6 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4"
                                   aria-expanded="false" aria-controls="collapse-4" id="payment" data-payment-method="razorpay">
                                   Razorpay
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
                            <div class="card-body">Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.</div>
                        </div>
                    </div>
                    
                    <!-- Add the Wallet option here -->
                    <div class="card">
                        <div class="card-header" id="wallet-payment" data-payment-method="wallet">
                            <h6 class="card-title">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-wallet"
                                   aria-expanded="false" aria-controls="collapse-wallet" id="wallet-payment" data-payment-method="wallet">
                                   Wallet
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-wallet" class="collapse" aria-labelledby="wallet-payment" data-parent="#accordion-payment">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec justo eget felis facilisis fermentum.</div>
                        </div>
                    </div>
                    
                    <br><!-- End .card -->
                    <button type="submit"  class="btn btn-sm btn-outline-primary-2 purchase placeorder " id="orderform"><span> Place Order
                </div><!-- End .accordion -->

                    </span><i class="icon-long-arrow-right"></i></button>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
                    
                    <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
                    
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                    
                    <script>
                        $(document).ready(function() {
                            $('.purchase').click(function(e) {
                                e.preventDefault();
                      
                                var fname = $("[name='first_name']").val();
                                var phone = $("[name='phone']").val();
                                var email = $("[name='email']").val();
                                var couponOrder = $("[name='couponcheck']").val();
                                var order_note = $("[name='ordernote']").val();
                                var token = $("[name='csrfmiddlewaretoken']").val();
                                var selectedAddress = $("input[name='address']:checked").val();
                                var paymentMethod = $("a[data-toggle='collapse'][aria-expanded='true']").data('payment-method');

                                
                      
                                if (!selectedAddress) {
                                    Swal.fire("Alert!", "Address field is mandatory!", "error");
                                    console.log('Address field is empty');
                                    return false;
                                }if (!paymentMethod) {
                                      Swal.fire("Alert!", "payment field is mandatory!", "error");
                                      console.log('Address field is empty');
                                      return false;    
                                } else {
                                    var data = {
                  
                                        "payment_method": paymentMethod,
                                        "couponOrder": couponOrder,
                                        "order_note": order_note,
                                        "address": selectedAddress,
                                        "csrfmiddlewaretoken": token
                                    };
                      
                                    console.log(data, '11111111111111111111111');
                      
                                    // Check the selected payment method and execute the corresponding AJAX request
                                    if (paymentMethod === "wallet") {
                                        $.ajax({
                                            method: "POST",
                                            url: "{% url 'placeorder' %}",
                                            data: data,
                                            dataType: 'json'
                                        }).done(function(response) {
                                            console.log(response);

                                            if (response.status === 'Your wallet amount is very low') {
                                                Swal.fire("Error!", response.status, "error");
                                                $('.placeorder').load(location.href + " .placeorder");
                                                window.location.href = '/checkout/checkout/';
                                            } else if (response.status === 'Your order has been placed successfully') {
                                                Swal.fire("Congratulations!", response.status, "success");
                                                $('.placeorder').load(location.href + " .placeorder");
                                                window.location.href = '/';
                                            } else {
                                                Swal.fire("Error!", response.status, "error");
                                                $('.placeorder').load(location.href + " .placeorder");
                                                window.location.href = '/';
                                            }
                                        }).fail(function(xhr, errmsg, err) {
                                            // Handle AJAX request failure
                                            alert('Error: ' + errmsg);
                                            console.log(xhr.responseText);
                                            console.log(err);
                                        });
                                    } else if (paymentMethod === "cod") {
                                      $.ajax({
                                          method: "POST",
                                          url: "{% url 'placeorder' %}",
                                          data: data,
                                          dataType: 'json'
                                      }).done(function(response) {
                                          console.log(response);
                      
                                          if (response.status === 'cannot place order') {
                                              Swal.fire("Error!", response.status, "error");
                                              $('.placeorder').load(location.href + " .placeorder");
                                          } else if (response.status === 'Your order has been placed successfully') {
                                              Swal.fire("Congratulations!", response.status, "success");
                                              $('.placeorder').load(location.href + " .placeorder");
                                          } else {
                                              Swal.fire("Error!", response.status, "error");
                                              $('.placeorder').load(location.href + " .placeorder");
                                          }
                                          window.location.href = '/';
                                      }).fail(function(xhr, errmsg, err) {
                                          alert('Error: ' + errmsg);
                                          console.log(xhr.responseText);
                                          console.log(err);
                                      });
                                  } 
                                    
                                    else if (paymentMethod === "razorpay") {
                                        // The Razorpay code from the second script goes here
                                        $.ajax({
                                          method:"GET",
                                          url:"{% url 'razarypaycheck' %}",
                                          success: function(response) {
                                           var options = {
                                             "key": "rzp_test_UxAf0X95pA9IRt", // Enter the Key ID generated from the Dashboard
                                             "amount": response.total_price*100,// Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                             //"amount": 1*100,//response.total_price * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                             "currency": "INR",
                                             "name": "COOT",
                                             "description": "Thank you for buying with us",
                                             "image": "https://example.com/your_logo",
                                             //"order_id": "order_IluGWxBm9U8zJ8", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                             "handler": function (responseb){
                                              // alert(responseb.razorpay_payment_id);
                                                 data = {
                                                   
                                                   "payment_method" : "razorpay",
                                                   "payment_id" : responseb.razorpay_payment_id,
                                                   "address": selectedAddress,
                                                   csrfmiddlewaretoken: token
                                                   
                                                 }
                      
                                                   $.ajax({
                                                     method:"POST",
                                                     url:"{% url 'placeorder' %}",
                                                     data: data,
                                                     success: function (responsec) {
                                                       
                                                       Swal.fire("Congratulations!", responsec.status,"success" ).then((value) => {
                                                          
                                                       });
                                                       window.location.href = '/'
                                                     }
                               
                                                 });
                                             },
                                             "prefill": {
                                                 "name": fname,
                                                 "email" : email,
                                                 'contact' : phone,
                                             },
                                             
                                             "theme": {
                                                 "color": "#3399cc"
                                             }
                                         };
                                         var rzp1 = new Razorpay(options);
                                         rzp1.on('payment.failed', function (response){
                                                 alert(response.error.code);
                                                 alert(response.error.description);
                                                 alert(response.error.source);
                                                 alert(response.error.step);
                                                 alert(response.error.reason);
                                                 alert(response.error.metadata.order_id);
                                                 alert(response.error.metadata.payment_id);
                                         });
                                         rzp1.open();
                                           console.log(responsec);
                               
                                          }
                                       });
                                    } 
                                }
                            });
                        });
                    </script> 
                 

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

