{% extends "partials/base.html" %}
{% load static%}
{% load mathfilters %}
{% block content %}
<body>
    <div class="invoice invoice-content invoice-3">
        <div class="back-top-home hover-up mt-30 ml-30">
            <a class="hover-up" href="{%url 'index'%}"><i class="fi-rs-home mr-5"></i> Homepage</a>
        </div>
        <div class="container">
            <div class="row">
              
                <div class="col-lg-12">
                    <div class="invoice-inner">
                        <div class="invoice-info" id="invoice_wrapper">
                            <div class="invoice-header">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="invoice-name">
                                            <div class="logo">
                                                <a href="{%url 'index'%}" class='w-50'><img src="{% static 'assets/imgs/theme/logo.jpg' %}" alt="logo" /></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6  text-end">
                                        <div class="invoice-numb">
                                            <h4 class="invoice-header-1 mb-10 mt-20">Invoice No: <span class="text-heading">{{order.order}}</span></h4>
                                            <h6>Invoice Date: <span class="text-heading">{{order.created_at|date:"Y-m-d"}}</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-top">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="invoice-number">
                                            <h4 class="invoice-title-1 mb-10">Invoice To</h4>
                                            <p class="invoice-addr-1">
                                                <strong>{{order.user}}</strong> <br/>
                                                <abbr title="Phone">Phone:</abbr>  {{order.user.phone_number}}<br>
                                                <abbr title="Email">Email: </abbr>{{order.user.email}}<br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="invoice-number">
                                            <h4 class="invoice-title-1 mb-10">Bill To</h4>
                                            <p class="invoice-addr-1">
                                                <strong>{{order.address.first_name}} {{order.address.last_name}}</strong> <br />
                                                {{order.address.address}}, {{order.address.city}}<br>
                                                {{order.address.state}}, {{order.address.pincode}}<br>
                                                {{order.address.country}}<br>
                                                <abbr title="Phone">Phone:</abbr> {{order.user.phone_number}}<br>
                                                <abbr title="Email">Email: </abbr>{{order.user.email}}<br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="invoice-number">
                                            <h4 class="invoice-title-1 mb-10">Overview</h4>
                                            <p class="invoice-addr-1">
                                                <strong>Invoice Data:</strong>{{order.created_at|date:"Y-m-d"}} <br />
                                                <strong>Due Data:</strong> Aug 27, 2022<br />
                                                <strong>Payment Method:</strong>{{order.payment_mode}}<br />
                                                <strong>Status:</strong> <span class="text-brand">{{order.order_status}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-center">
                                <div class="table-responsive">
                                    <table class="table table-striped invoice-table">
                                        <thead class="bg-active">
                                            <tr>
                                                <th>Item Item</th>
                                                <th class="text-center">Unit Price</th>
                                                <th class="text-center">Quantity</th>
                                                <th class="text-right">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for i in products%}
                                            
                                            <tr>
                                                <td>
                                                    <div class="item-desc-1">
                                                        <span>{{i.variant.product.product_name}}</span>
                                                        
                                                    </div>
                                                </td>
                                                <td class="text-center">₹ {{i.variant.product.product_price}}</td>
                                                <td class="text-center">{{i.quantity}}</td>
                                                <td class="text-right">₹ {{i.variant.product.product_price | mul:i.quantity }}</td>
                                            </tr>
                                            {%endfor%}
                                            
                                            
                                            <tr>
                                                <td colspan="3" class="text-end f-w-600">SubTotal</td>
                                                <td class="text-right">₹ {{order.total_price| add:total_offer}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-end f-w-600">offer</td>
                                                <td class="text-right">-{{total_offer}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-end f-w-600">Grand Total</td>
                                                <td class="text-right f-w-600"><h6>₹ {{order.total_price}}</h6></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-bottom">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>
                                            <h3 class="invoice-title-1">Important Note</h3>
                                            <ul class="important-notes-list-1">
                                                <li>All amounts shown on this invoice are in IN</li>
                                                <li>Delivery might delay due to some external dependency</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-offsite">
                                        <div class="text-end">
                                            <p class="mb-0 text-13">Thank you for your business</p>
                                            <p><strong>Nest cart</strong></p>
                                            <div class="mobile-social-icon mt-50 print-hide">
                                                <h6>Follow Us</h6>
                                                <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-facebook-white.svg' %}" alt="" /></a>
                                                <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-twitter-white.svg' %}" alt="" /></a>
                                                <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram-white.svg' %}" alt="" /></a>
                                                <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-pinterest-white.svg' %}" alt="" /></a>
                                                <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-youtube-white.svg' %}" alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-btn-section clearfix d-print-none">
                            <a href="javascript:window.print()" class="btn btn-lg btn-custom btn-print hover-up"> <img src="{% static 'assets/imgs/theme/icons/icon-print.svg' %}" alt="" /> Print </a>
                            <a id="invoice_download_btn" class="btn btn-lg btn-custom btn-download hover-up"> <img src="{% static 'assets/imgs/theme/icons/icon-download.svg' %}" alt="" /> Download </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <!-- Invoice JS -->
    <script src="{% static 'assets/js/invoice/jspdf.min.js' %}"></script>
    <script src="{% static 'assets/js/invoice/invoice.js' %}"></script>
</body>

{% endblock content %}

