{%extends 'partials/base.html'%}
{%load static%}

{%block content%}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{%url 'index'%}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span> My Account
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        {%if otp%}
        <div class="container">
            
            <div class="row">
                
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row">
                        <div class="col-lg-6 pr-30 d-none d-lg-block">
                            <img class="border-radius-15" src="{% static 'assets/imgs/page/login-1.png' %}" alt="" />
                        </div>
                        <div class="col-lg-6 col-md-8">
                            {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {{message}}
                              </div>
                            {% endfor %}
                            
                            <div class="login_wrap widget-taber-content background-white items-center">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1 mb-30">
                                        
                                        <h4 class=" text-dark"><strong>Forgot password</strong></h4>
                                        <p>Please check your Email   {{user.email}}</p>
                                    </div>
                                    <form method="POST" action='{% url 'forgot_password' %}'>
                                        {% csrf_token %}
                                       
                                        <div class=" form-group">
                                            <div class="chek-form">
                                                <input type="text" value="{{pre_otp}}" name="otp" placeholder="Enter OTP *" />
                                            </div>
                                            <br>
                                            <div class="chek-form">
                                                <input type="password"  name="password1" placeholder="New password *" />
                                            </div>
                                            <br>
                                            <div class="chek-form">
                                                <input type="password" name="password2" placeholder="Confirm password *" />
                                            </div>
                                           
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" value="{{user.email}}" name="user1">
                                         </div><!-- End .form-group -->
                                         <div class="form-group">
                                            <input type="hidden" value="{{otp}}" name="otp1">
                                         </div><!-- End .form-group -->
                                         <input type="hidden" value="{{user.email}}" name="email">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-heading btn-block hover-up" name="verifyotp">Verify OTP </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {%else%}
        <div class="container">
            
            <div class="row">
                
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row">
                        <div class="col-lg-6 pr-30 d-none d-lg-block">
                            <img class="border-radius-15" src="{% static 'assets/imgs/page/login-1.png' %}" alt="" />
                        </div>
                        <div class="col-lg-6 col-md-8">
                            {% for message in messages %}
                            <div class="alert alert-success {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                                {{message}}
                              </div>
                            {% endfor %}
                            
                            <div class="login_wrap widget-taber-content background-white items-center">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1 mb-30">
                                        
                                        <h4 class=" text-dark"><strong>Verify using OTP </strong></h4>
                                        <p>Please enter the otp you received on your Email </p>
                                    </div>
                                    <form method="POST" action='{% url 'forgot_password' %}'>
                                        {% csrf_token %}
                                       
                                        <div class=" form-group">
                                            <div class="chek-form">
                                                <input type="text" name="email" placeholder="Enter email *" />
                                            </div>
                                           
                                        </div>
                                        
                                       
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-heading btn-block hover-up" name="verifyotp">Verify Email </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</main>
{%endblock content%}