{%extends 'partials/base.html'%}
{%load static%}

{%block content%}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span> My Account
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            {%if otp%}
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <a class="nav-link active" id="signin-tab-2"  data-toggle="tab" href="#signin-2" role="tab"
                                            aria-controls="signin-2">OTP</a>
                                            
                                        <p>Please check your Email   {{user.email}}</p>
                                        
                                    </div>
                                    <form method="POST" action="{% url 'user_signup' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" name="otp" placeholder="Enter otp" />
                                        </div>
                                        <input type="hidden" value="{{user.email}}" name="email">
                                        <input type="hidden" value="{{user.email}}" name="user1">
                                        <input type="hidden" value="{{otp}}" name="otp1">
                                    
                                        <div class="form-group mb-30">
                                            <button type="submit" class="btn btn-sm btn-fill-out btn-block hover-up font-weight-bold" name="">Verify</button>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                            {% for message in messages %}
                            <div class="message text-center {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                                {{message}}
                              </div>
                            {% endfor %}

                            {%else%}
                             
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h1 class="mb-5">Create an Account</h1>
                                        <p class="mb-30">Already have an account? <a href="{% url 'user_login1'%}">Login</a></p>
                                    </div>
                                    {% for message in messages %}
                                    <div class="message text-center {% if message.tags %}{{ message.tags }}{% endif %}">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" value="{{pre_firstname}}" name="fname" placeholder="First name" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" value="{{pre_lastname}}"name="lname" placeholder="Last name" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="email"value="{{pre_email}}" placeholder="Email" />
                                        </div>
                                        <div class="form-group">
                                            <input type="number" required="" name="phonenumber" value="{{pre_phonenumber}}"placeholder="Mobile" />
                                        </div>
                                        <div class="form-group">
                                            <input required="" type="password" name="password1" value="{{pre_password1}}" placeholder="Password" />
                                        </div>
                                        <div class="form-group">
                                            <input required="" type="password" name="password2" value="{{pre_password2}}"placeholder="Confirm password" />
                                        </div>
                                        <div class="login_footer form-group ">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox12" value="" />
                                                    <label class="form-check-label" for="exampleCheckbox12"><span>I agree to terms &amp; Policy.</span></label>
                                                </div>
                                            </div>
                                            <a href="page-privacy-policy.html"><i class="fi-rs-book-alt mr-5 text-muted"></i>Lean more</a>
                                        </div>
                                        <div class="form-group mb-30">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up font-weight-bold" name="login">Submit </button>
                                        </div>
                                        <p class="font-xs text-muted"><strong>Note:</strong>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy</p>
                                    </form>
                                </div>
                            </div>
                    
                            {% endif %}
                        </div>
                        {% comment %} <div class="col-lg-6 pr-30 d-none d-lg-block">
                            <div class="card-login mt-115">
                                <a href="#" class="social-login facebook-login">
                                    <img src="{% static 'assets/imgs/theme/icons/logo-facebook.svg' %}" alt="" />
                                    <span>Continue with Facebook</span>
                                </a>
                                <a href="#" class="social-login google-login">
                                    <img src="{% static 'assets/imgs/theme/icons/logo-google.svg' %}" alt="" />
                                    <span>Continue with Google</span>
                                </a>
                                <a href="#" class="social-login apple-login">
                                    <img src="{% static 'assets/imgs/theme/icons/logo-apple.svg' %}" alt="" />
                                    <span>Continue with Apple</span>
                                </a>
                            </div>
                        </div> {% endcomment %}
                        <div class="col-lg-6 pr-30 d-none d-lg-block">
                            <img class="border-radius-15" src="{% static 'assets/imgs/page/login-1.png' %}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock content%}